<div class="container">
    <h2>Anthony's Grades</h2>
    <table>
        <thead>
        <tr>
            <th>Course</th>
            <th>Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Database Management</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Fonctions et Suite</td>
            <td>B+</td>
        </tr>
        <tr>
            <td>Transfert Thermique</td>
            <td>A-</td>
        </tr>
        <tr>
            <td>Node & React</td>
            <td>C-</td>
        </tr>
        <tr>
            <td>OS Architecture</td>
            <td>B+</td>
        </tr>
        <!-- More rows can be added here -->
        </tbody>
    </table>
    <div style="padding-left: 620px; padding-top: 15px" >
        <button style="padding: 4px">Add a new note</button>
    </div>
</div>
