<div class="centered-container">
  <h2 style="margin-top: 15px; margin-bottom: 15px; text-align: center">Your courses :</h2>

  <div *ngFor="let singleClass of classes" (click)="toggleSelection(singleClass)">
  {{ singleClass.className }}
  </div>
</div>
<div *ngIf="selectedClasses.length > 0">
  <div class="agenda-container">
    <div class="time-column">
      <div class="time-slot" *ngFor="let time of times">
        {{ time }}
      </div>
    </div>
    <div *ngFor="let selectedClass of selectedClasses" class="day-column">
      <div class="class-name">{{ selectedClass.className }}</div>
      <div class="lesson" *ngFor="let lesson of selectedClass.lesson">
        <div class="lesson-info" [style.marginTop.px]="calculateTopOffset(lesson.time)">
          <div class="lesson-time">{{ lesson.time }}</div>
          <div class="lesson-details">
            <div class="lesson-name">{{ lesson.lessonName }}</div>
            <div class="lesson-date">{{ lesson.date }}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


